/* Define the default (light) theme */
:root {
  --background-color: #ffffff;
  --text-color: #0d3b66;
  --navbar-bg-color: #f8f9fa;
  --tag-bg-color: #e2e6ea;
  --tag-text-color: #495057;
  --hover-bg-color: #faf0ca; /* Light mode hover background */
  --logo-shadow-color: #646cffaa; /* Default shadow color */
  --react-logo-shadow-color: #61dafbaa; /* React logo specific shadow */
}

/* Dark theme */
[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --navbar-bg-color: #1f1f1f;
  --tag-bg-color: #333333;
  --tag-text-color: #e0e0e0;
  --hover-bg-color: #333333; /* Dark mode hover background */
    --logo-shadow-color: #ffffffaa; /* Lighter shadow for dark mode */
    --react-logo-shadow-color: #61dafbaa; /* React logo shadow remains consistent */
}


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--navbar-bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  --hover-bg-color: #000000; /* Dark mode hover background */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 150px; /* Set a fixed height to ensure size change */
  width: auto; /* Maintain aspect ratio */
  padding: 1.5em; /* Increased padding */
  will-change: filter;
  transition: filter 300ms, transform 300ms; /* Smooth transition */
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--logo-shadow-color)); /* Theme-based shadow color */
  transform: scale(1.1); /* Slightly enlarges the logo on hover */
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--react-logo-shadow-color)); /* React-specific shadow */
}

/* Animation for the spinning effect */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Spinning animation for React logo */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#blogcard{
  border: 1px solid black;
}

#manageposttable{
  margin: 20px;
  border-collapse: collapse;
}

th,td,tr{
  border: 1px solid black;
  padding: 10px;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust column count automatically based on container width */
  gap: 20px;
  padding: 20px;
  background-color: var(--navbar-bg-color);
  color: var(--text-color);
  border: 1px solid var(--tag-bg-color);
  border-radius: 8px;
  padding: 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.blog-card {
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  word-break: break-word; /* Ensures long words break within the box */
  overflow-wrap: break-word;
  background-color: var(--navbar-bg-color);
  color: var(--text-color);
  border: 1px solid var(--tag-bg-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.blog-card:hover {
  background-color: var(--hover-bg-color); /* Adjusted for theme */
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Consistent shadow */
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.blog-card h2 {
  margin-top: 0;
  font-size: 1.2em;
  color: var(--text-color);
}
.blog-card h3 {
  font-size: 1em;
  text-align: justify;
  color: var(--tag-text-color);
}

.blog-card p {
  
  font-size: 0.8em;
  color: var(--text-color);
}

.blog-card a {
  text-decoration: none;
  color: inherit;
}

.create-post {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.title-input {
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.content-input {
  height: 300px;
}

.publish-button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px; /* Add margin to ensure separation */
  
}

.publish-button:hover {
  background-color: #0056b3;
}

.blogpost-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--navbar-bg-color); /* Adjusted for theme */
  color: var(--text-color);
  border-radius: 8px; /* Optional: To give the container a softer edge */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.blogpost-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; /* Adjust spacing as needed */
}

.share-icons, .audio-control {
  display: flex;
  align-items: center;
}

.share-icons p, .audio-control p {
  margin: 0;
  margin-right: 10px;
  font-size: 1em;
}

.audio-button {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s;
  color: var(--icon-color);
}

.audio-button:hover {
  color: var(--icon-hover-color);
}

.audio-on {
  color: var(--icon-on-color);
}

.audio-off {
  color: var(--icon-off-color);
}

/* Additional styles to ensure the flex layout works well on smaller screens */
@media (max-width: 600px) {
  .blogpost-actions {
      flex-direction: column;
      align-items: flex-start;
  }

  .share-icons, .audio-control {
      margin-bottom: 10px;
  }
}

.blogpost-container h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--text-color); /* Adjusted for theme */
}

.blogpost-container h3 {
  font-size: 1.2em;
  color: var(--tag-text-color); /* Adjusted for theme */
  margin-bottom: 20px;
}

.blogpost-container p {
  text-align: justify;
  line-height: 1.6;
  font-size: 1em;
  color: var(--text-color); /* Adjusted for theme */
}

.blogpost-container b, .blogpost-container strong {
  font-weight: bold;
  color: var(--text-color); /* Adjusted for theme */
}

.blogpost-container i, .blogpost-container em {
  font-style: italic;
  color: var(--text-color); /* Adjusted for theme */
}

.admin-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: #f5f5f5;
}

.admin-login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.admin-login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.admin-login-form input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.admin-login-form button {
  align-items: center;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.admin-login-form button:hover {
  background-color: #0056b3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px; /* Reduced padding to decrease height */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  flex-wrap: wrap; /* Allow wrapping of items */
  background-color: var(--navbar-bg-color);
  color: var(--text-color);
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-right: auto; /* Pushes the logo to the left */
}

.logo {
  height: 30px; /* Reduced height for the logo */
  margin-right: 10px;
}

.company-name {
  font-size: 1.2em; /* Adjusted font size for company name */
  font-weight: bold;

  text-align: center;
  width: 100%; /* Takes the full width to center align */
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px; /* Ensure it has a minimum width */
}

.navbar-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px; /* Space between icons */
  
}


/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .navbar-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .company-name {
    font-size: 1em;
    text-align: left;
    flex-grow: 1;
    width: 100%;
  }

  .toggle-container {
    order: 1;
    margin-left: 10px;
  }

  .navbar-right {
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    gap: 8px;
    width: 100%;
    order: 2;
  }
}

/* Media query for screens smaller than 600px (adjust as needed)
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Adjusted padding for mobile */
  

  .navbar-left {
    margin-bottom: 10px; /* Space between logo and company name */
  }

  .company-name {
    font-size: 1em; /* Adjusted font size for company name */
  }

  .navbar-right {
    margin-left: 0;
    margin-top: 10px; /* Space above social media icons */
    gap: 8px; /* Reduced space between icons */
  } */


.login-button {
  color: white;
  text-decoration: none;
  background-color: #0d3b66;
  padding: 5px 15px; /* Adjusted padding for the button */
  border-radius: 5px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0d3b66;
  color: white;
}


.tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #f0f0f0; /* Default background color */
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid #ccc;
  font-size: 0.8em;
  background-color: var(--tag-bg-color);
  color: var(--tag-text-color);
}

.tag.selected {
  border-color: #0d3b66;
  background-color: var(--text-color);
  color: var(--background-color);
}

.clear-filters {
  margin: 10px 5px;
  padding: 5px 10px;
  background-color: #e0e0e0;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
}

.clear-filters:hover {
  background-color: #d0d0d0;
}


input#searchbar {
  background-color: var(--navbar-bg-color);
  color: var(--text-color);
  border: 1px solid var(--tag-bg-color);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

input#searchbar::placeholder {
  color: var(--tag-text-color);
}

input#searchbar:focus {
  outline: none;
  border-color: var(--text-color);
}

.audio-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: color 0.3s ease;
  padding: 10px;
}

/* Styles when audio is on */
.audio-on {
  color: #00cc44; /* Green for 'on' */
}

/* Styles when audio is off */
.audio-off {
  color: #cc0000; /* Red for 'off' */
}